*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
    font-weight: 400px; /* u sando o font-weith aqui,
    declaro que todas as fonts do site será igual a essa*/
    color: #5d5d7d;
    
}

.wrapper{

    width:100vw;
    height: 100vw;

}

.container-left{
    display: inline-block;
    width: 60%;
    padding-left: 50px;
    margin-top: 15%;
    margin-right: 70px;
    
}

.container-right{
    display: inline-block;
    background-color: rgba(93, 93, 125, 0.16);
    height: 100vh;
    position: absolute;
    width: 60%;
}
img{
    position: relative;
    top: 25%;
    right: 138px;
}

button{
    color: #ffffff;
    background: #9499ea;
    border-radius: 30px;
    width: 135px;
    height: 50px;
    font-size: 24px;
    border: none;
    cursor: pointer;

}
button:hover{
    color: blue;
    background: #9499ea;
    border-radius: 30px;
    width: 145px;
    height: 60px;
    font-size: 29px;

}

button:active{
    color: blue;
    background: #9499ea;
    border-radius: 30px;
    width: 145px;
    height: 60px;
    font-size: 29px;
    cursor: pointer;
    opacity: .6;
}
h1{
    top: 25%;
    right: 130px;
    font-size: 48;
    width: 358px;
}

P{
    font-size: 28px;
    line-height: 40px;
    opacity: 0.6;
    margin-top: 15px;
    margin-bottom: 20px;
    display: inline-block;
    width: 540px;
}
.header{
    margin-right: 20px;
    font-size: 28px;
    line-height: 41px;
    cursor: pointer;
padding-left: 80px;}

.header:hover{
    opacity:0.2 ;
}
.header:active{
    opacity: 0.6;
        color: #7e84f7;

}

.container-right{
    display: block;
    height: auto;
    width: 100%;
    position: static;
}

img{
    position: static ;
}



@media screen and (max-width: 900px){
    .container-left{
        width: 100%;
        height:50% ;
        padding: 0;
        margin: 0;
    }
    .conteiner-right{
        display: block;
        width: 100%;
        height: auto;
        position: static;
        padding: 40px;
        
    }
    img{
        position: static;
        max-width: 90%;
        height: auto;
    }

    .header{
        display: none;    
    }
    h1{
        font-size: 38px;
        width: auto;
        line-height: 52px;
        text-align: center;
        margin: 50px 50px 0px 50px;
    }
    p{
        font-size: 20px;
        line-height: 32px;
        width: auto;
        margin: 15px 40px;
        text-align: center;
    }
    button{
        display: block;
        margin: 30px  auto;
        font-size: 20px;
        width: 120px;
        height: 40px;
    }
}
/*
.images{
    display: inline-block;
    background:#5d5d7d ;
    opacity: 60%;

}
.logo-image{
    display: inline-block;
    width: 456px;
    height: 561.95px;
    margin-left: 600px;
}

*/