*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.link-header{
    
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #989D9C;
    cursor: pointer;
    margin-right: 23px;
}

.button-header{
    background: #55e050;
    border-radius: 20.5px;
    cursor: pointer;
    width: 130px;
    height: 41px;
    border: none;
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
    color: #FFFFFF;
    
}

.logo-image {
    width: 568px;
    height: 500px;
    margin-left: 125px;
    display: inline-block;  
    margin-left: 84px;
}

.text-section{
    display: inline-block;
    margin-left: 86px;
}
.h1-section{
    font-weight: 500;
    font-size: 58px;
    line-height: 71px; /* line-heig = significa autura da linha */
    color: #515151;
    width: 493px;
}
.h2-section{
    font-weight: 600;
    font-size: 48px;
    line-height: 59px;
    color: #989D9C;
    margin-bottom: 24px;
}
.paragraph-section{
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    color: #7A7A7A;
    margin-bottom: 65px;
    width: 515px;
    margin-top: 32px;
}

.header{
    margin: 44px 0 144px 076px;
}